# Qdrant
QDRANT_IMAGE_TAG=latest
QDRANT_CONTAINER_NAME=qdrant
QDRANT_GRPC_PORT=6333
QDRANT_REST_PORT=6334
QDRANT_STORAGE_PATH=./data/qdrant

# Postgres
POSTGRES_IMAGE_TAG=16
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
POSTGRES_DATA_PATH=./data/postgres